[submodule "mysqldumpsplitter"]
	path = ./lib/mysqldumpsplitter
	url = https://github.com/kedarvj/mysqldumpsplitter.git
[submodule "lib/mysqldumpsplitter"]
	path = lib/mysqldumpsplitter
	url = https://github.com/plumpNation/mysqldumpsplitter.git
